<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App for resizing pictures</title>
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.image.url }}">{{ document.image.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    {{ field.errors }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>